<div class="flex flex-col gap-6">
  <app-title
    main="Lista de tarefas"
    sub="exemplo lista de tarefas com angular"
  ></app-title>
  <div class="flex flex-col gap-2">
    @for (item of todos.items(); track item.id) {
      <div
        class="p-4 border border-zinc-800 rounded-lg flex items-center gap-4"
      >
        <span [class.line-through]="item.completed" class="flex-1">{{ item.title }}</span>
        <span
          [class.bg-green-600]="item.completed"
          [class.bg-yellow-600]="!item.completed"
          class="px-4 py-1 rounded-full text-sm"
          >{{ item.completed ? "Concluído" : "Pendente" }}</span
        >
        <div>
          <button (click)="todos.toggle(item.id)" class="btn btn-primary mr-2">
            {{
              item.completed ? "Marcar como Pendente" : "Marcar como Concluído"
            }}
          </button>
        </div>
      </div>
    }
  </div>
</div>
